#labelUnselectAll:hover{
	-fx-graphic: url("/gui/resources/arrows/UnSelectAllGlow.png");
	-fx-cursor: hand;
}
#labelUnselectOne:hover{
	-fx-graphic: url("/gui/resources/arrows/UnSelectOneGlow.png");
	-fx-cursor: hand;
}
#labelSelectOne:hover{
	-fx-graphic: url("/gui/resources/arrows/SelectOneGlow.png");
	-fx-cursor: hand;
}
#labelSelectAll:hover{
	-fx-graphic: url("/gui/resources/arrows/SelectAllGlow.png");
	-fx-cursor: hand;
}
#labelUnselectAll{
  -fx-graphic: url("/gui/resources/arrows/UnSelectAll.png");
}
#labelUnselectOne{
  -fx-graphic: url("/gui/resources/arrows/UnSelectOne.png");
}
#labelSelectOne{
  -fx-graphic: url("/gui/resources/arrows/SelectOne.png");
}
#labelSelectAll{
  -fx-graphic: url("/gui/resources/arrows/SelectAll.png");
}
#label-customdata{
  -fx-graphic: url("/gui/resources/customData.png");
}
#label-customdata:hover{
  -fx-graphic: url("/gui/resources/customData-hover.png");
	-fx-cursor: Hand;
}
#labelSave{
	-fx-graphic: url("/gui/resources/saveStatement.png");
	-fx-cursor: hand;
}
#labelSave:hover{
	-fx-graphic: url("/gui/resources/saveStatement-hover.png");
}
#labelLoad{
	-fx-graphic: url("/gui/resources/load.png");
	-fx-cursor: hand;
}
#labelLoad:hover{
	-fx-graphic: url("/gui/resources/load-hover.png");
}
#run-red{
	-fx-graphic: url("/gui/resources/status/run-red.png");
	-fx-padding: 4px;
}
#run-green{
	-fx-graphic: url("/gui/resources/status/run-green.png");
	-fx-padding: 4px;
}
#run-neutral{
	-fx-graphic: url("/gui/resources/status/run-neutral.png");
	-fx-padding: 4px;
}
.label-bold{
	-fx-font-size: 16px;
	-fx-font-weight: bold;
}
#label-error{
	-fx-text-fill: white;
	-fx-font-size: 15px;
	-fx-font-weight: bold;
}
#label-success{
	-fx-text-fill: black;
	-fx-font-size: 15px;
	-fx-font-weight: bold;
}
#panel-success{
	-fx-background-color: #00ff00;
}
#panel-error{
	-fx-background-color: red;
}
#popup-on{
	-fx-background-color: rgba(234, 235, 237,0.5);
}
#vBox-selectionButtons{
	-fx-spacing: 10;
	-fx-alignment: center;
	-fx-padding: 5;
}

.list-view .cell{
  -fx-border-color: -fx-accent;
  -fx-border-width: 0.1px;
  -fx-cell-size: 35px;
  -fx-padding: -10px;
}
.list-view .cell:empty{
  -fx-border-width: 0px;
  -fx-background-color: white;
}
.list-view .cell:hover{
	-fx-background-color: rgb(0, 172, 230);
  -fx-text-fill: white;
}

.list-view .cell:selected{
	-fx-background-color: rgb(0,149,200);
    -fx-text-fill: white;
  -fx-border-color: black;
  -fx-border-width: 0.1px;
}

.list-view .cell:hover:empty{
	-fx-border-width: 0px;
  -fx-background-color: white;
}

.list-view .thumb{
	-fx-background-color: rgb(0,149,200);
	-fx-background-radius: 20px;
}

.list-view .track{
	-fx-background-radius: 2em;
}

.split-pane-divider{
	-fx-padding: 2px;
	-fx-border-color: transparent;
}

#rootPane{
	-fx-padding: 0px;
}

.panelWrapper{
	-fx-padding: 3px;
}
#vBoxLTL{
	-fx-spacing: 5px;
}
#label-link{
	-fx-font-size: 16px;
	-fx-font-weight: bold;
  -fx-text-fill: -fx-accent;	
  -fx-font-style: italic;
}
#label-link:hover{
	-fx-cursor: hand;
	-fx-underline:true;
}
.label-close{
	-fx-padding: 3px;
	-fx-graphic: url("/gui/resources/log/close.png");
}
.label-close:hover{
	-fx-graphic: url("/gui/resources/log/close-hover.png");
	-fx-cursor: hand;
	-fx-padding: 3px;
}

#label-storelog{
	-fx-padding: 3px;
	-fx-graphic: url("/gui/resources/log/saveLog.png");
}
#label-storelog:hover{
	-fx-graphic: url("/gui/resources/log/saveLog-hover.png");
	-fx-cursor: hand;
	-fx-padding: 3px;
}

.label-Normal{
	-fx-font-size: 16px;
	-fx-font-weight: Normal;
}
#vBoxLandiInfos{
	-fx-spacing: 15px;
}
#vBoxLandiInfos{
	-fx-background-color: white;
}
#label-popup-info{
	-fx-font-size: 16px;
	-fx-font-weight: bold;
}
#buttonExecute{
  -fx-background-color: -fx-accent;
  -fx-text-fill: white;
}

#buttonExecute:hover{
	-fx-cursor: hand;
	-fx-background-color: -fx-accent;
}

.button {
	-fx-cursor: hand;
}

.shadow{
	-fx-effect: dropshadow(three-pass-box, black, 5,0,0,0);
}

.panel{
	-fx-background-color: -fx-background;
}
#checkBox{
	-fx-padding: 5px;
	-fx-font-size: 16px;
}

#hBoxAutoCommit{
	-fx-font-weight: bold;
	-fx-font-size: 16px;
	-fx-padding: 2 2 2 -90;
}
